{%  extends 'main.html' %}
{% block content %}
<style>
    h2 {
      font-family: 'Arial black', sans-serif;
    }
</style>
  

<h2 align="center">Home Page</h2>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'before_login_event_details' %}">Events <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'to_add_publications' %}">Add Publications <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <form action="{% url 'searchposts' %}" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter faculty name">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit" value="Search Posts">
    </form>
    </div>
  </nav>

<body>

<br>

<h3>Faculty Posts</h3>
To see details about the post, login to your account<br><hr>


  

<br> 

<table class="table" >
    <thead class="thead-light">
        <tr>
            <th scope="col">Faculty</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Snap</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts reversed %}
            <tr>
                <td>{{ post.fac_id.username }}</td>
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_category }}</td>
                <td><a href="{{ post.post_snap.url }}" target="_blank"><img style="max-width: 100px;" src="{{ post.post_snap.url }}" alt="Post Image"></a></td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



