<body style="background-color:moccasin;">

<h1 align="center">Home Page</h1>
<hr color="black" size="5">
<button><a href="{% url 'before_login_event_details' %}">Events</a></button>
<button style="margin: 5px;"><a href="{% url 'to_add_publications' %}">Add Publications</a></button>
<button style="margin: 5px;"><a href="{% url 'login' %}">Login</a></button>
<button style="margin: 5px;"><a href="{% url 'register' %}">Register</a></button>

<hr color="black" size="5">


<h2><u>Faculty Posts</u></h2>

To see details about the post and to rate, login to your account<br><hr>
<button><a href="{% url 'searchposts' %}">Search</a></button>
<table border="5">
    <thead>
        <tr>
            <th>Faculty</th>
            <th>Title</th>
            <th>Category</th>
            <th>Snap</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.fac_id.username }}</td>
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_category }}</td>
                <td><a href="{{ post.post_snap.url }}" target="_blank"><img style="max-width: 100px;" src="{{ post.post_snap.url }}" alt="Post Image"></a></td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>