
{%  extends 'main.html' %}

{% block content %}

<body>
    <style>
        h1 {
          font-family: 'Britannic Bold', sans-serif;
           }
    </style>

    
    
<div align="center">
    <h1>Update Conference</h1>
    <hr color="black" size="5">
    <button style="margin: 10px;" type="button" class="btn btn-dark"><a href="/conferences/"><a href="{% url 'conferences' %}">Go back</a></button>
    
    <form method="post" action="{% url 'conference_update' pk=object.pk %}" autocomplete="off" enctype="multipart/form-data" style="text-align:left; margin:auto; width:50%">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="Update">
    </form>
    
</div>

</body>

{% endblock %}