<body style="background-color:moccasin;">
<h1>Event Details</h1>
<hr>

<button style="margin: 10px;"><a href="{% url 'post_details' %}">Go back</a></button>
<button style="margin: 10px;"><a href="{% url 'event-create' %}">Add Event</a></button>
<button style="margin: 10px;"><a href="{% url 'searchevents' %}">Search</a></button>
<button style="margin: 10px;"><a href="{% url 'myevent_details' %}">Edit</a></button>

<table border="5">
    <thead>
        <tr>
            <th>Faculty</th>
            <th>Event Name</th>
            <th>Details</th>
            <th>Location</th>
            <th>Event Date and Time</th>
            <th>Posted Time</th>
        </tr>
    </thead>
    <tbody>
        {% for i in events reversed %}
            <tr>
                <td>{{ i.fac_id.username }}</td>
                <td>{{ i.event_Name}}</td>
                <td>{{ i.event_details }}</td>
                <td>{{ i.event_Location }}</td>
                <td>{{ i.event_Date }}</td>
                <td>{{i.post_event}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>