<h1>Home Page</h1>
<hr>
<b>To see posts:</b><button><a href="{% url 'post_details' %}">Click Here</a></button><br><br>
<b>To see events:</b><button><a href="{% url 'event-details' %}">Click Here</a></button><br><br>
<b>To See Faculty Publications:</b><button><a href="{% url 'hodoptions' %}">Click here</a></button><br><br><hr>
<b>To edit your posts:</b><button><a href="{% url 'mypost_details' %}">Click Here</a></button><br><br>
<b>To edit events:</b><button><a href="{% url 'myevent_details' %}">Click Here</a></button><br><br>
<b>To add your Publications:</b><button><a href="{% url 'options' %}">Click here</a></button><br><br>
<button><a href="{% url 'logout' %}">Logout</a></button>