{%  extends 'main.html' %}

{% block content %}

<style>
    h1 {
      font-family: 'Britannic Bold', sans-serif;
       }
</style>

<body>
<div align="center">
    <h1>Delete Journal</h1>
    <hr>
    <p>Are you sure you want to delete the following journal?</p>
    <p>Journal Name: <b>{{ object.journal_name }}</b></p>
    <form method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Confirm">
    </form><br>
    <form action="{% url 'journals' %}" method="get">
        <input class="btn btn-success" type="submit" value="Cancel">
    </form>
</div>
</body>

{% endblock %}