{%  extends 'main.html' %}

{% block content %}

<style>
    h1 {
      font-family: 'Britannic Bold', sans-serif;
       }
</style>

<body >
<h1 align="center">Edit Event</h1>
<hr color="black" size="5">


<button style="margin: 10px;" type="button" class="btn btn-dark"><a href="{% url 'event-details' %}">Go back</a></button><br><br>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Details</th>
            <th scope="col">Location</th>
            <th scope="col">Event Date and Time</th>
            <th scope="col">Posted Time</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for i in events reversed %}
            <tr>
                <td>{{ i.event_Name}}</td>
                <td>{{ i.event_details }}</td>
                <td>{{ i.event_Location }}</td>
                <td>{{ i.event_Date }}</td>
                <td>{{i.post_event}}</td>
                <td>
                    <form action="{% url 'update_event' i.id %}" method="get">
                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form action="{% url 'event_delete' i.id %}" method="get">
                        <input class="btn btn-danger" type="submit" value="Delete" >
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>

{% endblock %}