<h1>Your Posts</h1>
<hr>


<button><a href="{% url 'post_details' %}">Go back</a></button><br><br>

<table border="5">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Details</th>
            <th>Category</th>
            <th>Snap</th>
            <th>Time</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_details }}</td>
                <td>{{ post.post_category }}</td>
                <td><img style="max-width: 100px;" src="{{ post.post_snap.url }}" alt="Post Image"></td>
                <td>{{ post.post_time }}</td>
                <td>
                    <form action="{% url 'update_post' post.id %}" method="get">
                        <input type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <button><a href="{% url 'post_delete' post.id %}">Delete</a></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
