{%  extends 'main.html' %}

{% block content %}

<style>
    h1 {
      font-family: 'Britannic Bold', sans-serif;
       }
</style>

<body style="text-align:center;">
<h1>View Your Publications</h1>

<hr color="black" size="5">
<form action="{% url 'conferences' %}" method="get">
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Published Conferences" >
</form><br><br>
<form action="{% url 'journals' %}" method="get">
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Published Journals" >
</form>
<br>
<button style="margin: 10px;" type="button" class="btn btn-dark"><a href="{% url 'post_details' %}">Go Back</a></button>

</body>

{% endblock %}






