{%  extends 'main.html' %}
{% block content %}
<style>
    h2 {
      font-family: 'Arial black', sans-serif;
    }
</style>

<body>

<h2 align="center" >Home Page</h2>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'event-details' %}">Events <span class="sr-only">(current)</span></a>
      </li>
      {% if user.role == "HOD" %}
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'hodoptions' %}">Faculty Publications <span class="sr-only">(current)</span></a>
      </li>
      {% endif %} 
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'options' %}">Add Publications <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <form action="{% url 'searchposts' %}" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter faculty name">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit" value="Search Posts">
  </form>
  </div>
</nav>



<h3>Faculty Posts</h3><hr>
<button style="margin: 10px;" type="button" class="btn btn-outline-primary"><a href="{% url 'create_post' %}">Add Post</a></button>
<button style="margin: 10px;" type="button" class="btn btn-outline-primary"><a href="{% url 'mypost_details' %}">Edit Post</a></button>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Faculty</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
            <th scope="col">Category</th>
            <th scope="col">Snap</th>
            <th scope="col">Time</th>
    
        </tr>
    </thead>
    <tbody>
        {% for post in posts reversed %}
            <tr>
                <td>{{ post.fac_id.username }}</td>
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_details }}</td>
                <td>{{ post.post_category }}</td>
                <td><a href="{{ post.post_snap.url }}" target="_blank"><img style="max-width: 100px;" src="{{ post.post_snap.url }}" alt="Post Image"></a></td>
                <td>{{ post.post_time }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}