<body style="background-color:moccasin;">

<h1 align="center" >Home Page</h1>
<hr color="black" size="5">
<button><a href="{% url 'event-details' %}">Events</a></button>
{% if user.role == "HOD" %}
<button style="margin: 5px;"><a href="{% url 'hodoptions' %}">Faculty Publications</a></button>
{% endif %}
<button style="margin: 5px;"><a href="{% url 'options' %}">Add Publications</a></button>
<button><a href="{% url 'logout' %}">Logout</a></button>


<hr color="black" size="5">

<h2><u>Faculty Posts</u></h2><hr>
<button style="margin: 10px;"><a href="{% url 'create_post' %}">Add Post</a></button>
<button style="margin: 10px;"><a href="{% url 'mypost_details' %}">Edit Post</a></button>
<button style="margin: 10px;"><a href="{% url 'searchposts' %}">Search</a></button>
<table border="5">
    <thead>
        <tr>
            <th>Faculty</th>
            <th>Title</th>
            <th>Details</th>
            <th>Category</th>
            <th>Snap</th>
            <th>Time</th>
    
        </tr>
    </thead>
    <tbody>
        {% for post in posts reversed %}
            <tr>
                <td>{{ post.fac_id.username }}</td>
                <td>{{ post.post_title }}</td>
                <td>{{ post.post_details }}</td>
                <td>{{ post.post_category }}</td>
                <td><a href="{{ post.post_snap.url }}" target="_blank"><img style="max-width: 100px;" src="{{ post.post_snap.url }}" alt="Post Image"></a></td>
                <td>{{ post.post_time }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>