{%  extends 'main.html' %}
{% block content %}
<body>
    <style>
        h1 {
          font-family: 'Britannic Bold', sans-serif;
        }
        
      </style>

<body>
    <h1 align="center">Search Faculty Journal Publications</h1>
    <hr color="black" size="5">
    
    
      <button style="margin: 10px;" type="button" class="btn btn-dark"><a href="{% url 'hodviewotherjourn' %}">Go back</a></button><br><br>
    
    

   
    

      
    
    {% if submit %}
    <h3>Search results for "{{ request.GET.jj }}"</h3>
    {% if results %}
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Faculty</th>
            <th scope="col">Journal name</th>
            <th scope="col">Journal ID</th>
            <th scope="col">Journal doi</th>
            <th scope="col">Ugc list</th>
            <th scope="col">Journal article</th>
          </tr>
        </thead>
        <tbody>
          {% for i in results %}
          <tr>
            <td>{{i.fac_id.username}}</td>
               
            <td>{{i.journal_name}}</td>
            <td>{{i.journal_id}}</td>
            <td>{{i.journal_doi}}</td>
            <td>{{ i.ugc_listed }}</td>
            <td>
            {% if i.journal_article %}
                    <div class="d-flex">
                      <div style="margin-right: 10px;">
                        <form action="{{ i.journal_article.url }}" method="get" target="_blank">
                          <input class="btn btn-info" type="submit" value="View PDF">
                        </form>
                      </div>
                      <div>
                        <button type="button" class="btn btn-outline-primary"><a href="{{ i.journal_article.url }}" target="_blank" download>Downoad PDF</a></button>
                      </div>
                    </div>
                    {% endif %}
                  </td>
         </tr>
      {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No results found</p>
    {% endif %}
  {% endif %}
</body>
{% endblock %}