{%  extends 'main.html' %}
{% block content %}
<style>
  h1 {
    font-family: 'Britannic Bold', sans-serif;
  }
  h5{
    font-family: 'ariel', sans-serif;
  }
</style>
<body >
<h1 align="center">Search Events</h1>
<hr color="black" size="5">


{% if user.is_authenticated %}
  <button style="margin: 10px;" type="button" class="btn btn-dark"><a href="{% url 'event-details' %}">Go back</a></button><br><br>
{% else %}
  <button style="margin: 10px;" type="button" class="btn btn-dark"><a href="{% url 'before_login_event_details' %}">Go back</a></button><br><br>
{% endif %}



  {% if submit %}
    <h5>Search results for "{{ request.GET.e }}"</h5>
    {% if results %}
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Faculty</th>
            <th scope="col">Event Name</th>
            <th scope="col">Details</th>
            <th scope="col">Location</th>
            <th scope="col">Event Date and Time</th>
            <th scope="col">Posted Time</th>
          </tr>
        </thead>
        <tbody>
          {% for i in results %}
            <tr>
                <td>{{ i.fac_id.username }}</td>
                <td>{{ i.event_Name}}</td>
                {% if user.is_authenticated %}
                <td>{{ i.event_details }}</td>
                {% else %}
                <td><form action="{% url 'login' %}" method="get">
                  <input class="btn btn-success" type="submit" value="Login" >
                </form></td>
                {% endif %}
                <td>{{ i.event_Location }}</td>
                {% if user.is_authenticated %}
                <td>{{ i.event_Date }}</td>
                {% else %}
                <td><form action="{% url 'login' %}" method="get">
                  <input class="btn btn-success" type="submit" value="Login" >
                </form></td>
                {% endif %}
                <td>{{i.post_event}}</td>
                
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No results found</p>
    {% endif %}
  {% endif %}
</body>
{% endblock %}